<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }} - {{ site.title }} - {{ site.subtitle }}{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="{% block meta_description %}{{ site.description }}{% endblock %}">

        <meta name="keywords" content="{% block meta_keywords %}{{ site.keywords|join(',') }}{% endblock %}">
    </head>
    <body>
        {% block content '' %}
    </body>
</html>
